$purple: #8284fa;
$purple-dark: #5e60ce;
$blue: #4ea8de;
$blue-dark: #1e6f9f;
$gray700: #0d0d0d;
$gray600: #1a1a1a;
$gray500: #262626;
$gray400: #333333;
$gray300: #808080;
$gray200: #d9d9d9;
$gray100: #f2f2f2;
$danger: #e25858;


body{
    height: 200px;
    width: 1440px;
    background: $gray700;
    left: 0px;
    top: 0px;
    border-radius: 0px;   
    font-family: "Inter", sans-serif;
}

.container {       
    width: 50%;
    height: 23rem;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 500px;
}

.titulo{
    color: $blue;    
}

.titulo-2{
    color: $purple-dark;
}

 h1, p{
    font-weight: bold;
}

img {
    width: 20px;
    height: 25px;
}

img, h1 {
    display: inline-block;    
}


.nome{    
    font-size: 16px;
    border: 2px solid $gray700;
    border-radius: 5px;
    padding: 8px;    
    font-weight: 500;
    background-color: $gray500;
    color: $gray300;
}

.nome:focus{
    outline: none;
    border-color: $gray400;
    background: $gray400;
}

.cadastrar {   
    border-radius: 5px;
    font-weight: 500;
    height: 100%;
    background-color: $blue-dark;
    color: $gray100;   
    font-size: 14px;
    border: none;
    padding: 8px;
    cursor: pointer;
}

.plus{
    color: $gray100;
    font-size: 14px; 
}

.cadastrar:hover {
    background: $blue;    
}

.tarefas-criadas{
    color: $blue;
    float: left;
    width: 54%;
}

.concluidas{
    color:$purple-dark;
    float: right;
    width: 46%;    
}

.lista{
    font-family: 'Inter';
    
    padding: 10px 20px; 
    margin-top: 60px;   
    border-radius: 5px;
    box-shadow: 0 5px 5px, $gray500;
    width: 100%;
    color: black;   
}

.tarefa{   
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    width: 736px;
    height: 72px;
    margin-bottom: 12px;
    margin-top: 12px;
    background-color: $gray500;
}



.tarefa p{    
    color: $gray100;
    font-size: 14px;

}

.tarefa i{
    cursor: pointer;
    background-color: $gray500;
    color: $gray300;
    padding: 7px;  
    margin-right: 20px;      
}

.tarefa i:hover{
    background-color: $gray600;
    color: $danger;
    padding: 7px;
    border-radius: 5px;    
}


.checkItem{
    cursor: pointer;    
    background-color: white;
    padding: 7px;
    box-sizing: border-box;
    border: 2px solid $danger;
    border-radius: 100%;
    width: 12.48px;
    height: 14px;
    margin-left: 20px;
}

.checkItem:checked + p{
    text-decoration: line-through;
    color: $gray300;
}