$purple: #8284fa;
$purple-dark: #5e60ce;
$blue: #4ea8de;
$blue-dark: #1e6f9f;
$gray700: #0d0d0d;
$gray600: #1a1a1a;
$gray500: #262626;
$gray400: #333333;
$gray300: #808080;
$gray200: #d9d9d9;
$gray100: #f2f2f2;
$danger: #e25858;


body{
    width: 100vw;   
    height: 100vh;
    background-image: linear-gradient(to bottom, $gray700 0, $gray700 16%, $gray600 16%);
    text-align:center;
    left: 0px;
    top: 0px;
    border-radius: 0px;   
    font-family: "Inter", sans-serif;
    overflow: hidden;
}

.container {       
    width: 50%;
    height: 23rem;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 500px;
}

.titulo{
    color: $blue;    
}

.titulo-2{
    color: $purple-dark;
}

img {
    width: 20px;
    height: 25px;
}

img, h1 {
    display: inline-block;    
}

.formulario{
    white-space: nowrap;
}

.nome{  
    width: 97.7%;
    height: 30px;
    font-size: 16px;
    border: 2px solid $gray700;
    border-radius: 5px;
    padding: 8px;    
    font-weight: 500;
    background-color: $gray500;
    color: $gray300;
}

.nome:focus{
    outline: none;
    border-color: $gray400;
    background: $gray400;
}

.cadastrar { 
    height: 46px; 
    border-radius: 5px;
    font-weight: 500;    
    background-color: $blue-dark;
    color: $gray100;   
    font-size: 14px;
    border: none;
    padding: 8px;
    cursor: pointer;
}

.cadastrar:hover {
    background: $blue;    
}
.fa-solid{
    color: $gray100;    
}

.contador{
    width: 819px;
    margin-top: 60px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
}

.tarefas-criadas{
    text-align: left;
    color: $blue;      
    display: inline-block;
}
.contador-tarefa{    
    color: $gray200;
    display: inline-block;
    margin-left: 10px;           
}

.concluidas{
    text-align: right;
    color:$purple-dark;
    float: right;
    width: 73%;
    display: inline-block;   
}

.contador-concluidas{
    color: $gray200;
    display: inline-block;
    margin-left: 10px;       
    
}

.lista{   
    justify-content: center;  
    border-radius: 5px;
    box-shadow: 0 5px 5px, $gray500;          
}

.tarefa{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    width: 819px;
    height: 72px;
    margin-bottom: 12px;
    margin-top: 12px;
    background-color: $gray500;
}

.tarefa p{    
    color: $gray100;
    font-size: 14px;

}

.tarefa i{
    cursor: pointer;
    background-color: $gray500;
    color: $gray300;
    padding: 7px;  
    margin-right: 20px;      
}

.tarefa i:hover{
    background-color: $gray600;
    color: $danger;
    padding: 7px;
    border-radius: 5px;    
}

.checkbox{
    cursor: pointer;    
    background-color: white;
    padding: 7px;
    box-sizing: border-box;
    border: 2px solid $danger;
    border-radius: 100%;
    width: 12.48px;
    height: 14px;
    margin-left: 20px;
}

.checkbox:checked + p{
    text-decoration: line-through;
    color: $gray300;
}