body {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, #0d0d0d 0, #0d0d0d 24%, #1a1a1a 24%);
  background-repeat: no-repeat;
  background-color: #1a1a1a;
  text-align: center;
  left: 0px;
  top: 0px;
  border-radius: 0px;
  font-family: "Inter", sans-serif;
  overflow: hidden;
}

.container {
  max-width: 1200px;
  width: 45%;
  height: 23rem;
  text-align: center;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  min-width: 500px;
}

.todo img {
  width: 21.99px;
  height: 30px;
}
.todo .titulo {
  font-style: normal;
  font-size: 40px;
  font-weight: 900;
  line-height: 48px;
  display: inline-flex;
}
.todo .titulo .to {
  color: #4ea8de;
}
.todo .titulo .do {
  color: #5e60ce;
}

.containerDescricao {
  margin-top: -50px;
  display: flex;
  white-space: nowrap;
  min-width: 750px;
  text-align: center;
}
.containerDescricao .descricao {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  width: 638px;
  height: 30px;
  border: 1px solid #0d0d0d;
  border-radius: 8px;
  padding: 16px;
  gap: 8px;
  font-weight: 500;
  background-color: #262626;
  color: #808080;
}
.containerDescricao .descricao:focus {
  outline: none;
  border-color: #5e60ce;
  background: #262626;
}
.containerDescricao .criar {
  margin-left: 10px;
  padding: 16px;
  gap: 8px;
  width: 90px;
  height: 62px;
  border-radius: 8px;
  font-weight: 500;
  background-color: #1e6f9f;
  color: #f2f2f2;
  font-size: 14px;
  border: none;
  padding: 8px;
  cursor: pointer;
}
.containerDescricao .criar .fa-solid {
  color: #f2f2f2;
}
.containerDescricao .criar:hover {
  background: #4ea8de;
}

.containerContador {
  font-size: 14px;
  width: 732.59px;
  margin-top: 40px;
  margin-bottom: 10px;
  display: flex;
  min-width: 750px;
  flex-direction: row;
  white-space: nowrap;
}
.containerContador .tarefasCriadas {
  text-align: left;
  color: #4ea8de;
  display: inline-block;
  height: 17px;
}
.containerContador .concluidas {
  margin-left: 390px;
  color: #8284fa;
  height: 17px;
  width: 73%;
}
.containerContador .contador {
  background: #333333;
  color: #d9d9d9;
  display: inline-block;
  padding: 2px 8px;
  gap: 10px;
  border-radius: 999px;
  font-size: 12px;
}

.containerTarefas {
  margin-top: 30px;
  width: 732.59px;
  height: 400px;
  display: flex;
  flex-direction: column;
}
.containerTarefas .listaVazia {
  display: none;
}
.containerTarefas .listaVazia .fa-clipboard {
  color: #333333;
  margin-top: 17%;
  margin-right: center;
  font-size: 56px;
}
.containerTarefas .listaVazia .texto {
  font-weight: 700;
  font-style: bold;
  font-size: 16px;
  line-height: 140%;
  color: #808080;
  align-self: stretch;
}
.containerTarefas .listaVazia .texto2 {
  margin-top: -15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #808080;
  align-self: stretch;
}
.containerTarefas .tarefas {
  order: 1;
  content: "";
  display: block;
  width: 732.5px;
  height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0 5px 5px, #262626;
}
.containerTarefas .tarefas::-webkit-scrollbar {
  background-color: #262626;
  width: 12px;
  border-radius: 10px;
}
.containerTarefas .tarefas::-webkit-scrollbar-thumb {
  background: #5e60ce;
  border-radius: 10px;
}
.containerTarefas .tarefas .tarefa {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #333333;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
  width: 638px;
  height: 72px;
  padding: 11px;
  margin-bottom: 5px;
  margin-top: 5px;
  background: #262626;
}
.containerTarefas .tarefas .tarefa .containerVerificacao {
  display: block;
  position: relative;
  margin-left: 20px;
  padding-left: 45px;
  cursor: pointer;
  font-size: 22px;
  margin-bottom: 19px;
}
.containerTarefas .tarefas .tarefa .containerVerificacao input {
  position: absolute;
  opacity: 0;
}
.containerTarefas .tarefas .tarefa .containerVerificacao .verifica {
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  border: 2px solid #4ea8de;
  background: #333333;
  position: absolute;
}
.containerTarefas .tarefas .tarefa .containerVerificacao .verifica:hover {
  border: 2px solid #1e6f9f;
  opacity: 0.8;
}
.containerTarefas .tarefas .tarefa .containerVerificacao .verifica:after {
  content: "";
  position: absolute;
  display: none;
  top: 2px;
  left: 6px;
  width: 4px;
  height: 9px;
  border: solid #f2f2f2;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.containerTarefas .tarefas .tarefa .containerVerificacao .verifica:after:hover {
  border: 2px solid #8284fa;
}
.containerTarefas .tarefas .tarefa .containerVerificacao input:checked ~ .verifica {
  background: #5e60ce;
  border: 2px solid #5e60ce;
}
.containerTarefas .tarefas .tarefa .containerVerificacao input:checked ~ .verifica:after {
  display: block;
}
.containerTarefas .tarefas .tarefa .descricaoTarefa {
  color: #f2f2f2;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}
.containerTarefas .tarefas .tarefa i {
  cursor: pointer;
  color: #808080;
  padding: 7px;
  margin-right: 20px;
}
.containerTarefas .tarefas .tarefa i:hover {
  background-color: #333333;
  color: #e25858;
  padding: 7px;
  border-radius: 4px;
}
.containerTarefas .containerFiltro {
  display: none;
  order: 2;
  margin-top: 25px;
  width: 732.5px;
}
.containerTarefas .containerFiltro .filtro {
  display: inline-block;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  color: #808080;
  cursor: pointer;
  text-align: center;
  margin: 10px;
  font-weight: 700;
}
.containerTarefas .containerFiltro .filtro:hover,
.containerTarefas .containerFiltro .filtro :active {
  color: #4ea8de;
  cursor: pointer;
}/*# sourceMappingURL=syle.css.map */